html {
    height: 100%;
    width: 100%;
    overflow: scroll;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    margin: auto;
    overflow-y: scroll;
    background: no-repeat;
    background-size: 100% 100%;
    background-image: url("../Assets/general/mainBackground.jpg");
    flex-direction: column;
}

#main {
    display: flex;
    width:100%;
    height:100%;
    margin: auto;
    align-items: center;
    justify-content: space-evenly;
}
button {
    height: 100%;
    aspect-ratio: 1/1;
    margin: 1%;
    border: groove darkgreen 10px;
    font-size: large;
    font-family: 'Comic Sans MS';
    color: antiquewhite;
    text-shadow: 1px 1px 0px white;
    word-wrap: break-word;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
span{
    font-size:medium;
}

#mainMenuBtn {
    position: fixed;
    width:auto;
    height:auto;
    aspect-ratio:auto;
    border:none;
    border-radius:15px;
    margin:0;
    bottom: 0%;
    right: 0%;
    padding-left: 2%;
    padding-right: 2%;
    background-image:url("../Assets/general/menuButton.jpg");
}

#forest{
    background-image:url("../Assets/maps/forest.jpg");

}

#swamp {
    background-image: url("../Assets/maps/swamp.jpg");
}

#river {
    background-image: url("../Assets/maps/river.jpg");
}

#mountain{
    background-image: url("../Assets/maps/mountain.jpg");
}

#peak {
    background-image: url("../Assets/maps/peak.jpg");
}

#freeZone {
    background-image: url("../Assets/maps/freeZone.jpg");
}

.areaBtnDiv{
    display:flex;
    width:50%;
    height:50%;
}

.lockImg{
    width:50%;
    height:50%;
}